* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.contact,
.sign-up {
  display: flex;
  background-color: #fdec96;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  /*background-image: url('/images/img-2.jpg');*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2a6592;
  font-size: 100px;
  background-color: #fef6d0;
}

.contact {
  /*background-image: url('/images/img-1.jpg');*/
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #2a6592;
  font-size: 100px;
  background-color: #fef6d0;
}

.sign-up {
  /*background-image: url('/images/img-8.jpg');*/
  background-color: #fef6d0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2a6592;
  font-size: 100px;
  /*background-color: #fef6d0;*/
}

.form-container-inline{
  background-color: #3FB9BF;
}

.searchBar {
  text-align: center;
  display: block;
  margin: 0 auto;

}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}