.landing-container{
    /*background: url("public/images/telemed.jpg") center center/cover no-repeat;*/
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3fb9bf;
    align-items: center;
    /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);*/
    object-fit: contain;
    margin: 0 auto;
}

.landing-container > h1 {
    color: #fef6d0;
    font-size: 100px;
    margin-top: -100px;
}

.landing-container > p {
    margin-top: 8px;
    color: #fef6d0;
    font-size: 32px;
    font-family: "Trebuchet MS", 'Lucida Grande', 'Arial', 'sans-serif';
}

.landing-btns {
    margin-top: 32px;
}

.landing-btns .btn {
    margin: 6px;
}

@media screen and (max-width: 960px) {
    .landing-container > h1 {
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width: 780px) {
    .landing-container > h1 {
        font-size: 50px;
        margin-top: -100px;
    }

    .landing-container > p {
        font-size: 30px;
    }
}

.btn-mobile {
    display: block;
    text-decoration: none;
}

.btn {
    width: 100%;
}



